APP_ENV=development

NEXT_PUBLIC_APP_NAME="BriefBoarder"
NEXT_PUBLIC_APP_DESCRIPTION="Do image-driven ad things with AI. Together."
NEXT_PUBLIC_APP_URL=http://localhost:3000

# realtime with liveblocks 
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=your_liveblocks_public_key_here
LIVEBLOCKS_SECRET_KEY=your_liveblocks_secret_key_here

# DB
DATABASE_URL=postgresql://username:password@host:port/database?sslmode=require&channel_binding=require # Neon DB, not tested on other DB providers.

# LLM
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here

# S3 stuff
S3_ENDPOINT_URL=your_s3_endpoint_url_here
S3_BUCKET_NAME=your_s3_bucket_name_here
S3_ACCESS_ID_KEY=your_s3_access_id_key_here
S3_SECRET_ACCESS_KEY=your_s3_secret_access_key_here
S3_REGION=your_s3_region_here
S3_PUBLIC_ENDPOINT=your_s3_public_endpoint_here
NEXT_PUBLIC_S3_ENDPOINT=your_next_public_s3_endpoint_here

REPLICATE_API_KEY=your_replicate_api_key_here
EXA_API_KEY=your_exa_api_key_here